<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">


<h:head>
	<title>Payment Cancelled</title>
	<link rel="stylesheet" href="./res/kate-style.css"></link>
</h:head>
<h:body>
	<div class="container">
	<h3>Payment Cancelled</h3>
		<h:form>
			Your payment of €<h:outputText value="#{authorizePayment.total}"/> for
			<h:outputText value="#{authorizePayment.product}"/><br/>
			<p>has been cancelled</p>
		</h:form>
	</div>
</h:body>
</html>
