<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
	<title>Payment Confirmation</title>
	<link rel="stylesheet" href="./res/kate-style.css"></link>
</h:head>

<h:body>
  <div class="header">
    <a href="index.html"><img src="./res/images/logo.png"></img></a>
        <div class="nav">
            <ul>
                <li>
                    <a href="./index.html">Homepage</a>
                </li>
            </ul>
        </div>
	</div>
<div class="container">
	<h3>Payment Confirmation</h3>
	<h:form>
		Your payment of €<h:outputText value="#{authorizePayment.total}"/> for 
		<h:outputText value="#{authorizePayment.product}"/><br/>
		<p>has been approved</p>
	</h:form>
</div>
</h:body>
</html>
