<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>My Application</title>
</h:head>
<body>
	<h3>Welcome #{loginBean.userName}</h3>
	
</body>
</html>
