<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	
<h:head>
<meta name="viewport" content="width=device-width,initial-scale=1"></meta>
<link rel="stylesheet" href="./res/reset.css"></link>
<link rel="stylesheet" type="text/css" href="./res/kate-style.css"/>
	<title>Register Page</title>
</h:head>

<body>
	
  <div class="header">
    <a href="index.html"><img src="./res/images/logo.png"></img></a>
        <div class="nav">
            <ul>
                <li>
                    <a href="./index.html">Homepage</a>
                </li>
            </ul>
        </div>
	</div>
	



	
	
   
<div class="box1">

  <h:form action="">
    <div class="container">
      <h1>Create your BHD account</h1>
      <p>Please fill in this form to create an account.</p>
      <hr></hr>
      
      <p:messages/>

		<p:outputLabel for="name" value=""><b>Name</b></p:outputLabel>
    	<p:inputText type="text" placeholder="Enter Name" name="name" id="name" value="#{registerBean.name}"></p:inputText>
	

      <p:outputLabel for="email" value=""><b>Email</b></p:outputLabel>
      <p:inputText type="text" placeholder="Enter Email" name="email" id="email" value="#{registerBean.userName}"></p:inputText>

      <p:outputLabel for="psw"><b>Password</b></p:outputLabel>
      <p:inputText type="password" placeholder="Enter Password" name="psw" id="psw" value="#{registerBean.password}"></p:inputText>

      <p:outputLabel for="psw-repeat"><b>Repeat Password</b></p:outputLabel>
      <p:inputText type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" value="#{registerBean.passwordRepeat}"></p:inputText>
      <hr></hr>

      <p>By creating an account you agree to our <a href="#">Terms &amp; Privacy</a>.</p>
      <p:commandButton type="submit" class="registerbtn" action="#{registerBean.registerUserAccount}" ajax="false" value="Create Account"></p:commandButton>
  </div>
    </h:form>
  <div class="container signin">
    <p>Already have an account? <a href="login.xhtml">Sign in</a>.</p>
  </div>

</div>  



  <div class="footer">
		<a href="index.html"><img src="./res/images/logo.png"></img></a>
			<div class="logo">
				<p>Copyright©Boutique Hotel of Dublin</p>
			</div>
  </div>

</body>
</html>
