<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Room Price Update</title>
	<meta http-equiv="expires" content="0"></meta>
	<link rel="stylesheet" href="./res/reset.css"></link>
	<link rel="stylesheet" type="text/css" href="./res/kate-style.css"/>
	<link rel="stylesheet" href="./res/dashboard.css"/>
</h:head>
<body>
	<div class="staff_container">
		<div class="header">
				<a href="index.html"><img src="./res/images/logo.png"></img></a>
				<ul class="nav">
						<li>
								<a href="./register.xhtml">Registration</a>
						</li>
						<li>
								<a href="#">Check-in</a>
						</li>
						<li>
								<a href="#">Check-out</a>
						</li>
						<li>
								<a href="./allRooms.xhtml">Room Check</a>
						</li>
						<li>
								<a class="adjust" target="_self" href="./roomPriceAdjustment.xhtml">Adjust room price</a>
						</li>
						<li>
								<a href="#">Logout</a>
						</li>
				</ul>
		</div>

		<div class="left_nav">
			<ul class="nav">
					<li>
							<a href="./dashboard.xhtml">Staff Dashboard</a>
					</li>
			</ul>
	</div>
		<div class="container">
			<h:form>
				<p:messages/>
				<p:outputLabel value="Room Number: " />
				<p:inputText value="#{roomBookingBean.roomNo}" />        
				<p:outputLabel value="New price: " />
				<p:inputText value="#{roomBookingBean.price}" />
				<p:commandButton value="Update" action="#{roomBookingBean.adjustRoomPrice}" ajax="false" />
			</h:form>
		</div>

		<div class="footer">
				<a href="index.html"><img src="./res/images/logo.png"></img></a>
				<div class="logo">
						<p>Copyright©Boutique Hotel of Dublin</p>
				</div>
		</div>
</div>








</body>
</html>