@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    background: #fff;
    color: #fff;
    font-family: 'Tangerine', sans-serif;
    font-size: 35px;
}

.staff_container{
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: "header header"
    "left_nav main"
    "footer footer";
    height: 100vh;
    grid-template-rows: 120px 1fr 120px;
}

.header{
    grid-area: header;
    
    overflow: hidden;
    position: relative;
    background: rgb(223, 181, 154);

    display: grid;
    grid-template-columns: 250px 1fr;
    align-items: end;
}

.header > a {
    align-self: start;
}

.nav{
   display: flex;   
}

.nav li {
    flex-grow: 1;
}

.header img{
    position: absolute;
    height: 100%;
}

.nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 16px 42px;
}
.nav a:hover{
    background-color: rgb(68, 150, 245);
    color: #fff;
}
.adjust{
    background-color: rgb(68, 150, 245);
}
.rooms{
    background-color: rgb(68, 150, 245);
}

.left_nav{
    grid-area: left_nav;
    background-color: rgb(223, 181, 154);
    display: grid;
    place-content: center;
}
.main,
.container{
    grid-area: main;
    /* color: black; */
    grid-template-columns: 20%;
    justify-content: center;
    align-items: center;
    

    overflow: hidden;
    position: relative;
    font-family: 'Roboto', sans-serif;
    background: url(./images/staff_bg.jpg);
    background-size: cover;
    font-size: 30px;
}

.main > *,
.container > * {
    max-width: 50%;
    margin: 0px auto;
}
.main {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    row-gap: 1em;
}

.main > h2 {
    align-self: end;
}

.main > table {
    align-self: start;
    text-align: center;
}

.main > table th {
 padding: 1em;
 white-space: nowrap;
}

.footer{
    grid-area: footer;

    overflow: hidden;
    position: relative;
    background: rgb(223, 181, 154);
    font-size: 25px;
}
.footer .logo{
    position: absolute;
    right: 5%;
    top: 65%;
}
.footer img{
    position: absolute;
    height: 100%;
}