@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');


body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #fff;
}

.header{
  display: grid;
  grid-gap: 10px;
  grid-area: header;
  grid-template-areas: "header header header header header header";
  grid-template-rows: 120px;

  font-family: 'Tangerine', sans-serif;
  font-size: 35px;
  
  overflow: hidden;
  position: relative;
  background: rgb(223, 181, 154);
}
.header .nav{
  position: absolute;
  right: 5%;
}
.header img{
  position: absolute;
  height: 100%;
}
.nav li{
  margin-top: 20%;
  float: right;
}
.nav a {
  /* 将a转换为块元素 */
  display: block;
  /* 去除下划线 */
  color: #fff;
  text-decoration: none;
  padding: 0 42px;
}
.nav a:hover{
  background-color: rgb(68, 150, 245);
  color: #fff;
}
.welcome{
  text-align: center;
}

.box{
  display: grid;

  grid-template-columns: 55%;

  grid-template-rows: 615px;
  justify-content: center;
  align-items: center;
  
  background: url(../bg.jpg);
  background-size: cover;
}
.box1{
  display: grid;

  grid-template-columns: 55%;

  gap: 30px;
  padding: 30px 0;
  justify-content: center;
  align-items: center;
  
  background: url(../bg.jpg);
  background-size: cover;
}
.box_customer_dashboard{
  display: grid;
  grid-template-columns: 55%;

  padding: 30px 0;

  justify-content: center;
  align-items: center;
  
  background: url(../bg.jpg);
  background-size: cover;
}



.container {
  padding: 60px;
  box-sizing: border-box;
  border: 3px solid #ffdb58;
	border-radius: 10px;
  background: rgb(223, 181, 154);
}
.container > table td:first-child{
  width: 200px;
}

.container table.ui-selectmanycheckbox:last-of-type tr td:first-child {
  width: auto !important;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 2px solid #ffdb58;
  background:#FDFEFE;
}


input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline:  4px dotted #ffdb58;
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;

}


button, .book, .link {
  background-color: rgb(223, 181, 154);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
	font-size: 125%;
}

button:hover, .book:hover .link:hover {
  opacity:1;
  font-size: 150%;
}


a {
  color: dodgerblue;
}


.container signin {
  background-color: #F9F9F9;
  text-align: center;

}



.footer{
  display: grid;
  grid-gap: 10px;
  grid-area: footer;
  grid-template-areas: "footer footer footer footer footer footer";
  grid-template-rows: 120px;

  font-family: 'Tangerine', sans-serif;
  font-size: 35px;

  overflow: hidden;
  position: relative;
  background: rgb(223, 181, 154);
  font-size: 25px;
}
.footer .logo{
  position: absolute;
  right: 5%;
  top: 65%;
}
.footer img{
  position: absolute;
  height: 100%;
}